/* ---

  Style sheet settings and overrides for DreamNET.

--- */


/* --- Constants --- */

:root {
  --term-fg: #aaaaaa;
  --term-bg: #0b0f14;
}

@font-face {
  font-family: "ToshibaSat_8x16";
  src: url("../fonts/ToshibaSat_8x16.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block; /* important: no reflow after load (all fonts) */
}

@font-face {
  font-family: "ACM_VGA_8x14";
  src: url("../fonts/ACM_VGA_8x14.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Philips_YES_G_8x10";
  src: url("../fonts/Philips_YES_G_8x10.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Fill the page; make the viewport the scroll container */
html, body {
  height: 100%;
  margin: 0;
}

#viewport {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

/* This is what we scale */
#terminalRoot {
  transform-origin: top left;
}

/* The actual text surface */
#termSurface {
  color: var(--term-fg);
  background: var(--term-bg);

  margin: 0;
  padding: 0;

  font-family: var(--term-font-family);
  font-size: var(--term-font-px);
  line-height: var(--term-font-lineheight);
  letter-spacing: var(--term-font-letterspacing);
  white-space: pre;

  border: none;

  /* prevent browser “helpfulness” */
  font-kerning: none;
  font-variant-ligatures: none;
  text-rendering: geometricPrecision;   /* Disable if perf issues */
}
